/* Import ready to use selectors to use within Vue components */
@use './elements/link' as *;
@use './elements/vinput' as *;
@use './elements/vinput-group' as *;

:root {
  --theme-color-accent: #7cb0ff;
  --theme-input-color: #a0a0a0;
  --theme-focus-input-color: #fff;
  --vinput-label-margin-bottom: 8px;
  --vinput-group-gap: 28px; 
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 0;
  min-height: 100%;
}

body {
  background-color: #222;
  color: #E7E7E7;
  font-family: 'Inter Variable', sans-serif;
  font-weight: 300;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;

  // Decoration by page sides
  &::before,
  &::after {
    background-image: url('/img/decorators/decorator-side.png');
    content: '';
    pointer-events: none;
    position: fixed;
    width: 100px;
    z-index: -1;
  }

  &::before {
    bottom: 0;
    left: 4px;
    top: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }
}